<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Forgot Password</title>
    <link rel="stylesheet" type="text/css" href="/index.css"> <!-- Link to your CSS file -->
</head>
<body>
  <div class="wrapper">
    <h2>Forgot Password</h2>
    <form id="forgot-password-form">
      <div class="input-box">
        <input type="email" id="email" placeholder="Enter your email" required>
      </div>
      <div class="input-box button">
        <button type="submit">Send OTP</button>
      </div>
    </form>
  </div>

  <script>
    // Function to handle form submission
    const form = document.getElementById('forgot-password-form');
    form.addEventListener('submit', async (e) => {
      e.preventDefault();
      const email = document.getElementById('email').value;
  
      try {
        // Send request to server to send OTP to user's email
        const response = await fetch('http://localhost:3000/users/sendCode', {
          method: 'POST',
          headers: {
            'Content-Type': 'application/json'
          },
          body: JSON.stringify({ email })
        });

        if (!response.ok) {
          throw new Error('Failed to send OTP');
        }

        // Redirect to OTP verification page upon successful OTP sending
        window.location.href = `/resetpassword`;
      } catch (error) {
        console.error(error);
        alert('Failed to send OTP. Please try again.');
      }
    });
  </script>
</body>
</html>
