<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Sign Up</title>
    <link rel="stylesheet" type="text/css" href="/index.css" />
    <!-- Link to your CSS file -->
  </head>
  <body>
    <div class="wrapper">
      <h2> Welcome To-Do-List!</h2> 
      <div class="text">
        <h3>Don't have an account? <a href="/signup">Sign Up now</a></h3>
      </div>
      <div class="text">
        <h3>Already have an account? <a href="/login">Login now</a></h3>
      </div>
    </div>
  </body>
</html>
